<h1>Convert <%=params.fetch("from_currency")%> to <%=params.fetch("to_currency")%></h1>

1 <%=params.fetch("from_currency")%> equals  <%=@parsed_data.fetch("result")%> <%=params.fetch("to_currency")%>
<div>

<a href="/<%=@original_currency%>">go back </a>
